@charset:utf-8;

/*====== CSS commun à toutes les pages =======*/

/* == CSS pour les liens hypertextes == */

a:link {
	color: #4a4a4a;
	text-decoration: none;
	}
a:visited {
	color: #4a4a4a;
}
a:hover {
	color: #FF8901;
	text-decoration: none;
}
a:active {
	background-color: transparent;
	text-decoration: underline;
}

/* css pour le corps du site */
html {
	background-color: #bebebe;
	max-width: 2440px;
	font-family: Verdana, sans serif;
	font-size: 4vw; 
}
body {
	max-width: 80%;
	background-color: #ffffff;
	margin: auto;
}

/* css pour l'en-tête TITRE */
header {
	background-color: #268fd2;
}
.en-tete {
	width: 100%;
}
.tdLogo {
	width: 20%;
	text-align: center;
	vertical-align: center;
}
#logo {
	width: 10vw;
	margin-top: 0vw;
	text-align: center;
	vertical-align: center;
}
.titre {
	width: 60%;
	color: white;
	font-size: 4vw;
	text-align: center;
}
.blank {
	width: 20%;       /*permet d'ajouter une cellule vide pour centrer le titre*/
}

/* css pour l'en-tête MENU */
li {
	display: inline;
	list-style: none;
	font-size: 50%;
}
.liMenu {
	color: #4a4a4a;
}
.menu {
	background-color: #268fd2;
	text-align: center;
	margin-top: 0vw;
	padding-bottom: 1vw;
	border-top: 2px solid white;
}

/* css pour le footer */

footer {
	background-color: #4A4A4A;
	color: white;
	margin-top: 3vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 3vw;
	text-align: center;
}
#aFoot {
	color: white;
	text-decoration: none;
}

/* ====== CSS page d'accueil ===== */

/* alignement des vidéos par <TABLE> */
.tableVideo {
	text-align: center;
}
p {
	margin: 1vw;
	font-family: times new roman, serif;
	font-size: 40%;
}
